{% extends 'base.html' %}

{% block title %} Pets List Page {% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-8 offset-md-2">

    <h2 class="mt-4 mb-4">Pets List </h2>
    <!-- <ul class="pet-list"> -->


    <form class="form-inline mb-4" action="{% url 'search_results' %}" method="GET">
        <div class="form-group mr-2">
            <input type="text" name="search" class="form-control" 
            placeholder="Search by name" value="{{ search_query}}">
        </div>
        <button type="submit" class="btn btn-primary custom-btn"> Search </button>
    </form>


    <ul class="list-group">
        {% for pet in pets %}


            <li class="list-group-item"> 
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="dname" ><a href="{%  url 'pets_detail' pet.id %}">{{ pet.name }} </a></h2>   
                    <h3> {{ pet.breed }} </h3>
                    <h4> {{ pet.price }} </h4>
                </div>

                <p>
                    {% if pet.image %}
                        <img src="{{ pet.image.url }}" class="img-fluid rounded">
                    {% else %}
                        <p> No Image </p>
                    {% endif %}
                </p>

                {% for tag in pet.tags.all %}
                    {{ tag.name }}
                {% endfor %}

                <div>
                    <a href="{% url 'edit_pet' id=pet.id %}">edit</a>    
                </div>
                
            </li>


        {% endfor %}
    </ul>


    </div>


</div>
{% endblock %}