{% extends 'base.html' %}

{% block title %} Pets Detail Page {% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <h1> Proceed To Pay </h1>
        <p> Total amount : {{ total_amount }}</p>

        <form action="{% url 'payment_confirmation' %}" method="get">
            {% csrf_token %}
            <input type="hidden" name="total_amount" value="total_amount">
            <button type="submit"> Confirm Payment </button>
        </form>
        
    </div>
</div>
{% endblock %}